<html>
<body>
  <h2> This is the breakdown of what characters you are. </h2>
  <%= @view_breakdown.show_percentage_breakdown %>
  <br>
  <form action="/quiz">
    <button name="play_quiz_again" type="submit">Play Quiz Again</button>
  </form>
</body>
</html>
