<html>
<head>
	<title><%= @title %> </title>
</head>
<body>
	<header>
	<h2> This is a quiz to find out which character of the Adventures of the Trinity and the One you are. </h2>
	<br>
	<form action="/quiz">
    <button type="submit">Play Quiz</button>
  </form>
	</header>
</body>
</html>
