<html>
<head>
	<title><%= @title %> </title>
</head>
<body>
	<header>
	<h2> This is a quiz to find out which character of the Adventures of the Trinity and the One you are. </h2>
  <h2> <a href='/quiz'> To start click here. </a> </h2>
	</header>
</body>
</html>
