<h1>The Adventures of the Trinity and the One Character Quiz</h1>
<p>This is a quiz to find out which character of you are.</p>

<form action='/results' method='post'>
  <% @questions_and_answers.each do |question_key, question_data| %>
    <h3><%= question_data[:question] %></h3>

    <% question_data[:answers].each do |answer| %>
      <label><%= answer[0] %></label>
      <input type='radio' name='<%= question_key %>' value= '<%= answer[0] %>'/><br>
    <% end %>
  <% end %>

  <br>
  <h3>That is it! Now submit to see which character you are.</h3>

  <input type="submit">
</form>
