<%= @view_results.show_character_and_image %>
<br>
<form action="/breakdown">
  <button type="submit">See Your Quiz Results Breakdown</button>
</form>
<br>
<form action="/quiz">
  <button type="submit">Play Quiz Again</button>
</form>
