<html>
<body>
  <h1 style="text-align:center;"> Your Character is: <%=@character%>!</h1>
  <p style="text-align:center;"><img src="images/<%=@character%>.png" alt="<%=@character%>" style="width:320px;height:510px;"></p>
  <br>
  <form action="/breakdown">
    <button name="scoring_breakdown" type="submit">See Your Character Results Breakdown</button>
  </form>
  <br>
  <!-- <form action="/total_result_breakdown">
    <button name="total_result" type="submit">See Character Results for All Takers</button>
  </form>
  <br> -->
  <form action="/quiz">
    <button name="play_quiz_again" type="submit">Play Quiz Again</button>
  </form>
</body>
</html>
