body {
  border: 2px solid green;
  font-size: 1em;
  margin: 2em auto;
  padding: 2em;
  width: 640px;
}

h1 {
  font-size: 1.75em;
  margin: 0 0 1em 0;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

h3 {
  margin: 1em 0;
}

nav {
  border-bottom: 4px solid black;
  padding: 1em;
}

nav a {
  font-size: 1.2em;
}

button, input[type="submit"] {
  background: #065384;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 1em 0;
  padding: 1em 2em;
}

img {
  display: block;
  margin: 1em auto;
}
