body {
  border: 2px solid green;
  margin: 2em auto;
  padding: 2em;
  width: 640px;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}

nav {
  border-bottom: 4px solid black;
  padding: 1em;


}

nav a {
  font-size: 1.2em;
}

button, input[type="submit"] {
  background: #065384;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 1em 2em;
}
